.container{
    display: flex;;
    flex-direction: row-reverse;
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    background-color: rgb(34, 36, 35);
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.item{
    border: 2px solid red;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: coral;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    color: white;
}